@import url("font.css");
@import url("../webfonts/DM_Serif_Display/stylesheet.css");
/* CSS Document */

html {scroll-behavior: smooth;}
/* ID */

body {margin: 0; min-width: 1440px;}


/* stroke */

/* topnav */

#topnav ul li a,
#topnav ul li a {
  position: relative;
}
#topnav ul li a:after,
#topnav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;}

#topnav ul li a:hover:after {width: 100%;}

#topnav 			{clear: both; min-width: 900px; height: 50px; margin: 0; background-color: #FED1BE; padding: 20px;}
#topnav ul li		{display: inline;}
#topnav ul li a 	{padding: 0 30px; text-decoration: none;}
#topnav a:link 		{color: #444444;}
#topnav a:visited 	{color: #444444;}
#topnav a:active 	{color: #444444;}
#topnav a:focus 	{color: #444444;}
#topnav a:hover 	{color: #ffc333;}

#topnav img 		{padding: 0 0 20px 30px;}


/*sections*/

#section-1 			{ background-size: cover; display: flex; background-color: #f2e5d9;  height: 400px; 
					margin-top: 0; margin-bottom: -5%; justify-content: center; padding-bottom: 20px;}


#section-2 			{margin-top: 0; background-color: #f2e5d9; margin-bottom: -6%; padding-bottom: 0; justify-content: center; 	
					height: 700px; }


#container-footer 	{display: flex; justify-content: center;}
#footer 			{background-size: cover; background-color: #FED1BE; clear: both; }
#footer p 			{text-decoration: none; padding-bottom: 10px;}

#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 0.75rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 3rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: 'Montserrat';
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}


.fcf-btn {
    display: inline-block;
	font-family: 'Montserrat';
    font-weight: 400;
    color: #ffc333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.5rem;
    line-height: 1.5;
    border-radius: 3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #3b3c3a;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #D09A9A;
    border-color: #D09A9A;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #D6A793;
    border-color: #D6A793;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #D6A793;
    border-color: #D6A793;
    box-shadow: 0 0 0 0.2rem rgba(59, 60, 58, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}

/*font*/

h1 {
    font-family: "DM Serif Display";
    font-size: 60px;
    color: #ffc333;
}
h2 {
    font-family: "DM Serif Display";
    font-size: 43px;
    color: #55827e;
}
h3 {font-family: "Nexa Rust Sans Black"; font-size: 18px; }
h4 {font-family: "Nexa Rust Sans Black"; font-size: 12px; }
h5 {font-family: "Montserrat ExtraBold"; font-size: 43px; color: #ffc333; text-align: center;}

p {font-family: "Montserrat"; font-size: 15px; padding-top: 0;}
p2 {font-family: "Montserrat"; font-size: 15px; padding-top: 0; text-align: center;}

ul {font-family: "Montserrat Medium"; font-size: 15px; float: right;}


/*Class*/

.iconcenter				{display: flex;}
.iconcenter a i:hover 	{color: #fff;}

.footer-r 	{width: 45%;  margin-left: 900px; align-content: flex-start; padding-top: 30px; padding-bottom: 30px;}
.footer-r a {align-items: center; text-decoration: none; color: #fff; padding: 0 4px;}
.footer-r p {margin-left: 60px; color: #fff;}


.footer-l {width: 45%; margin-left: 50px; padding-top: 60px;}

.three-img 				 {display: flex; margin-top: 30px; justify-content: center;  }
.three-img img:hover 	 {filter: drop-shadow(0 0 10px #ffc333); }
.three-img img 		   	 {margin-left: auto; margin-right: auto; padding: 0 20px; }
.three-img p			 {margin-left: auto; margin-right: auto; text-align: center; }

.three-img2 			{display: flex; justify-content: center; margin-top: 30px; margin-left: 200px;}
.three-img2 img:hover 	{filter: drop-shadow(0 0 10px #ffc333);}
.three-img2 img 		{border-radius: 50px;  padding: 0 20px; }
.three-img2 p			{text-align: center; }

.three-img3 			{display: flex; margin-top: 30px; justify-content: center; margin: 10px 0; padding: 0 20px;}
.three-img3 img:hover 	{filter: drop-shadow(0 0 10px #ffc333);}
.three-img3 img 		{padding: 0 20px;}
.three-img3 p2			{}

.three-img3-text 		{ margin-top: 400px; position: absolute; display: flex; padding-top: 40px;}


.center				{}
.center2 			{margin-right: 70px; display: flex; }
.center3			{margin-right: 70px; display: flex; justify-content: center; margin: 0 20px;}
.center4 			{margin-top: 30px; margin-left: -10px; display: flex;}
.center5 			{margin-left: 650px; margin-top: 30px;}

.kyra-homepage 		{margin-bottom: -5%; margin-top: 30px; text-align: center;}

.worktgt 			{text-align: center; justify-content: center; margin: 0 50px; display: flex;}
.worktgt h5 		{padding-top: 50px; margin-bottom: 30px;}
.worktgt p 			{padding-bottom: 30px;}
.worktgttext 		{text-align: center; padding: 0 20px; justify-content: center;}

.interested			{margin-bottom: -5%; justify-content: center;}
.interested-text	{margin-left: 170px;}
.interested	h5		{text-align: center; padding-top: 50px; }
.interested p2 		{ display: flex; text-align: center; justify-content: center; margin: -30px 0 0 0;}

.drawing		{align-content: center; justify-content: center; text-align: center;}

.drawing-img	{margin-left: 30px;}
.drawing-text	{float: right; margin-left: 300px; padding-top: 170px;}
.drawing p2		{text-align: center;}
.drawing h5 	{text-align: center;}

.myworks		{text-align: center; justify-content: center; }
.myworks h5 	{padding-top: 50px; margin-bottom: 30px; }
.myworks p2 	{padding-bottom: 30px;}

.myworks2		{text-align: center; justify-content: center; }
.myworks2 h5 	{padding-top: 50px; margin-bottom: 30px; }
.myworks2 p2 	{padding-bottom: 30px;}


.ig	 	{text-align: center; }
.ig p2	{text-align: center; margin: -50px 0 0 0 ; }
.ig h5 	{text-align: center; padding-top: 50px; margin-bottom: 30px;}

.text-banner 	{justify-content: center; text-align: center; position: absolute; top: 100px; margin-bottom: 0; 
				padding-top: 50px; }
.text-banner h1 {line-height: 0.5;}
.text-banner p 	{margin-bottom: 30px;}

.main-heading {display: flex;}

.skillset 		{}
.skillset2	 	{display: flex; justify-content: center; }
.skillset h2 	{text-align: center; margin-top: 50px 0; padding-top: 50px; }
.skillset p 	{text-align: center; color: #55827e; padding-bottom: 30px;}
.skillset p2 	{color: #55827e; padding-bottom: 30px;}



.button-3 			{ background-color: #ffc333; border-radius: 20px; color: #fff; transition: .3s; font-family: 								"Montserrat"; font-size: 14px; padding: 10px; box-sizing: 30px; width: 130px; text-decoration: none;
					text-align: center; margin: 0 15px;}
.button-3 a 		{text-decoration: none; text-align: center;}
.button-3 a:link 	{color: #444444;}
.button-3 a:visited {color: #444444;}
.button-3 a:active 	{color: #444444;}
.button-3 a:focus 	{color: #444444;}
.button-3 a:hover 	{color: #ffc333;}
.button-3 a:hover 	{color: #fff;}
.button-3:hover {box-shadow: 8px 8px #3b3c3a; font-family: "Montserrat"; font-size: 14px; transition: .3s; text-decoration: none; }

.topnavImage 	{margin-top: -23px;}

/*progress bar*/

.progress-section {margin-left: 70px; margin-bottom: 50px; padding-top: 50px; }
.progress-section2 {margin-left: 70px; margin-bottom: 50px;  }


.progress a {margin: 20px 0;}
.progress p2 	{padding-bottom: 10px;}
.progress body {
  justify-content: center;
  align-items: center;
  background: #000;
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.progress {
  background: rgba(38,38,37,1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px; margin: 0 20px 10px 0;
}

.progress {
  background: rgba(38,38,37,1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px; margin: 0 20px 10px 0;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #ffc333;
  height: 30px;
  width: 0; 
}

@keyframes load { 0% { width: 0; } 100% { width: 90%; }}

.progress-value2 {
  animation: load2 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #ffc333;
  height: 30px;
  width: 0; 
}

@keyframes load2 { 0% { width: 0; } 100% { width: 90%; }}

.progress-value3 {
  animation: load3 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #ffc333;
  height: 30px;
  width: 0; 
}

@keyframes load3 { 0% { width: 0; } 100% { width: 70%; }}

.progress-value4 {
  animation: load4 3s normal forwards;
  border-radius: 100px;
  background: #ffc333;
  height: 30px;
  width: 0; 
}

@keyframes load4 { 0% { width: 0; } 100% { width: 60%; }}

.progress-value5 {
  animation: load5 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #ffc333;
  height: 30px;
  width: 0; 
}

@keyframes load5 { 0% { width: 0; } 100% { width: 70%; }}

.progress-value6 {
  animation: load6 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #ffc333;
  height: 30px;
  width: 0; 
}

@keyframes load6 { 0% { width: 0; } 100% { width: 86%; }}

.progress-value7 {
  animation: load7 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #ffc333;
  height: 30px;
  width: 0; 
}

@keyframes load7 { 0% { width: 0; } 100% { width: 64%; }}

.progress-value8 {
  animation: load8 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #ffc333;
  height: 30px;
  width: 0; }

@keyframes load8 { 0% { width: 0; } 100% { width: 85%; }}


.footer {text-decoration: none; float: right;}


